{% extends 'base/base_auth.html' %}
{% load static %}
{{ title }}
{% block title %}
{% endblock title %}

{% block content %}
<script>
var ForgotPasswordSameOrigin_url = "{% url 'ForgotPasswordSameOrigin' %}";
</script>

<div class="container">
<div class="w-100 display_flex_style">
    <div class="card w-50">
        <div class="card-body">
            <div><h3>Get reset password link via mail</h3></div>
            <div class="mb-3">
                <label for="email" class="form-label">Email ID</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
            </div>
            <div class="row w-100 mb-3">
                <div class="col-sm-12">
                    <div class="mb-3 d-flex justify-content-around">
                        <div>
                            <button type="submit" class="btn btn-dark" id="send_button">send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{% static 'js/auth_user/forgot_password_page.js' %}"></script> 
<link href="{% static 'css/auth_user/forgot_password_page.css' %}" rel="stylesheet"/> 
{% endblock content %}