{% extends 'base/base_auth.html' %}
{% load static %}
{{ title }}
{% block title %}
{% endblock title %}

{% block content %}
<script>
var LoginSameOrigin_url = '{% url "LoginSameOrigin" %}'
var home_page_url = '{% url "HomePage" %}'
</script>

<div class="container">
<div class="w-100 display_flex_style">
    <div class="card w-50">
        <div class="card-body">
            <div><h3>Sign in</h3></div>
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="row w-100 mb-3">
                <div class="col-sm-9">
                    <div class="mb-3 d-flex justify-content-around">
                        <div>
                            <button type="submit" class="btn btn-dark" id="signin">Sign in</button>
                        </div>
                        <div class="mt-2">
                            <a class = "link_style mx-1" href="{% url 'forgot_password_page' %}">forgot password?</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{% static 'js/auth_user/login_page.js' %}"></script>
<link href="{% static 'css/auth_user/login_page.css' %}" rel="stylesheet"/>
{% endblock content %}
