{% extends 'base/base_auth.html' %}
{% load static %}
{{ title }}
{% block title %}
{% endblock title %}

{% block content %}
<script>
var ResetPassword_url = "{% url 'ResetPassword' %}";  
</script>

<div class="container">
<div class="w-100 display_flex_style">
    <div class="card w-50">
        <div class="card-body">
            <div><h3>Reset Password</h3></div>
            <p id="token">{{ token }}</p>
            <p id="uid">{{ uid }}</p>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password2">
            </div>
            <div class="row w-100 mb-3">
                <div class="col-sm-12">
                    <div class="mb-3 d-flex justify-content-around">
                        <div>
                            <button type="submit" class="btn btn-dark" id="confirm_button">confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{% static 'js/auth_user/reset_password_page.js' %}"></script> 
<link href="{% static 'css/auth_user/reset_password_page.css' %}" rel="stylesheet"/> 
{% endblock content %}