{% extends 'base/base.html' %}
{% load static %}
{{ title }}
{% block title %}
{% endblock title %}

{% block content %}

<script>
    
    var register_user_url = '{% url "RegisterUser" %}';
    var read_user_role_url = '{% url "ReadUserRoles" %}';
    var VerifyOTPResendOTP_url = '{% url "VerifyOTPResendOTP" %}';

    var GetAllUsers_url = '{% url "GetAllUsers" %}';
    var SetUserIsActive_url = '{% url "SetUserIsActive" %}';
    var SetUserIsDeleted_url = '{% url "SetUserIsDeleted" %}';
    var UpdateUser_url = '{% url "UpdateUser" %}';
</script>
<script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
<div class="container">
    
    <div class="card my-1">
        <div class="card-body">
            <div class="title_bar_options_card_body_inner_div">
                <div><h3>Manage Users : </h3></div>
                <button class="btn btn-dark mx-1" id="add_users">Add Users</button>
                <button class="btn btn-dark mx-1" id="update_users">Update Users</button>
            </div>
        </div>
    </div>

    <!--ADD USERS UI CONTENT STARTS-->
    <div id="Add_Users_UI">
        <!--Render html ui elements using js-->
    </div>
    <!--ADD USERS UI CONTENT ENDS-->

    <!--Verify Otp UI STARTS-->
    <div class = "display_flex_style" id="Verify_otp_ui">
        <!--verify otp related ui rendered via js-->
    </div>
    <!--Verify Otp UI ENDS-->    
    
    <!--Update Users related UI STARTS-->
    <div class = "my-1 update_user_ui_style" id="update_user_ui">
        <!--update user related ui rendered via js-->
    </div>
    <!--Update Users related UI ENDS-->

</div>
<link href="//cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" rel="stylesheet"/>
<link href="{% static 'css/admin_app/manage_user_page.css' %}" rel="stylesheet"/>
<script src="{% static 'js/admin_app/manage_user_page.js' %}"></script>
<!-- <link href="{% static 'css/auth_user/login_page.css' %}" rel="stylesheet"/> -->
{% endblock content %}