{% extends 'base/base.html' %}
{% load static %}
{{ title }}
{% block title %}
{% endblock title %}

{% block content %}

<script>
    
    var register_user_url = '{% url "RegisterUser" %}';
    var read_user_role_url = '{% url "ReadUserRoles" %}';
    var VerifyOTPResendOTP_url = '{% url "VerifyOTPResendOTP" %}';
</script>

<div class="container">
    
    <div class="card my-1">
        <div class="card-body">
            <div class="title_bar_options_card_body_inner_div">
                <div><h3>Manage Users : </h3></div>
                <button class="btn btn-dark mx-1" id="add_users">Add Users</button>
                <button class="btn btn-dark mx-1" id="update_users">Update Users</button>
            </div>
        </div>
    </div>

    <!--ADD USERS UI CONTENT STARTS-->
    <div id="Add_Users_UI">
        <!--Render html ui elements using js-->
    </div>
    <!--ADD USERS UI CONTENT ENDS-->

    <!--Verify Otp UI STARTS-->
    <div class = "display_flex_style" id="Verify_otp_ui">

    </div>
    <!--Verify Otp UI ENDS-->    
    
    <!--Update Users related UI STARTS-->
    <div id="update_user_ui">
        <!--update user related ui rendered via js-->

    </div>
    <div class="card">
        <div class="card-body">
          Update user UI elements
        </div>
    </div>
    <!--Update Users related UI ENDS-->
</div>
<link href="{% static 'css/admin_app/manage_user_page.css' %}" rel="stylesheet"/>
<script src="{% static 'js/admin_app/manage_user_page.js' %}"></script>
<!-- <link href="{% static 'css/auth_user/login_page.css' %}" rel="stylesheet"/> -->
{% endblock content %}