.verify_otp{
    color:red
}
.display_flex_style{
    display:flex;
    justify-content: center;
    align-items: space-around;
    margin-top:5%;
}
.display_flex_style_button{
    display:flex;
    justify-content: center;
    align-items: space-around;
}